/* Base styles */
body {
    font-family: 'Prompt', sans-serif;
    color: #232049;
    text-decoration: none;
    background: #b4bbc1;
    background-image: url("assets/IndependenceRoboticsArm.jpg");
    background-size: auto; /* Keep the original size of the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed in place */
    height: 100vh; /* Full height of the viewport */
}

/* Slogan Styles */
.slogan-container {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 100px;
    margin-bottom: 300px;
}

.slogan {
    color: white;
    text-shadow: 0px 0px 20px black;
    letter-spacing: 5px;
    max-width: 30em;
    text-align: center; /* Center text within slogan */
    padding: 20px; /* Optional: add some padding */
}

.slogan h1 {
    font-size: 50px;
}

/* Links */
a {
    color: #232049;
    text-decoration: none;
}

/* Header and Navigation */
header {
    background-color: transparent;
}

nav {
    margin-top: 25px; /* Keeps the nav from being too high on the page */
    text-align: center; /* Center the text within the nav */
}

nav ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0;
    margin: 0;
    display: flex; /* Horizontal alignment */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Aligns items vertically in the center */
    white-space: nowrap; /* Prevents text from wrapping to the next line */
}

nav ul li {
    margin: 0 30px; /* Space between each item, adjust as necessary */
}

nav ul li a {
    color: #232049;
    font-size: 15px; /* Increases font size */
    font-weight: bold;
    padding: 10px 20px; /* Padding around the text */
    text-transform: uppercase; /* Makes text uppercase */
    letter-spacing: 1px; /* Adds spacing between letters */
    white-space: nowrap; /* Ensures the text inside links does not wrap */
    text-shadow: none; /* Ensures no shadow is applied by default */
    transition: color 0.2s ease, text-shadow 0.5s ease; /* Smooth transition for color and shadow */
}

nav ul li img {
    max-height: 90px; /* Adjust logo size */
    margin-right: 400px;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

nav ul li a:hover img {
    transform: scale(1.1); /* Scale up the image to 110% of its size */
}

nav ul li a:hover {
    color: lightblue;
    text-shadow: 0px 0px 5px #232049; /* Light shadow */
}

/* Footer */
footer {
    background-color: #b4bbc1;
}

/* Showcase Section */

.showcase {
    padding: 5%;
}


/* Info Card Styles */
.info-card {
    flex: 1;
    padding: 20px;
    text-align: left; /* Center text in each card */
    max-width: 20em;
    background-color: rgba(211, 211, 211, 0.3); /* Light grey with 80% opacity */
    border-radius: 10%;
    margin: 10px;
    transition: transform 0.5s ease; /* Add transition for smooth scaling */
}

.info-card:hover {
    transform: scale(1.1); /* Use transform for scaling */
}

/* Info Text Styles */
.info-text {
    color: white; 
    flex: 1; 
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 40em;
    text-shadow: 0px 0px 20px black;
}

/* Info Img Styles */
.info-img {
    width: 40em;
    width: 100%; 
    height: auto; 
    box-shadow: 0px 0px 20px #27070c; 
    border-radius: 5%;
}

/* Button Styles */
.btn1, .btn2, .btn3 {
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-top: 10px; /* Spacing above buttons */
}

.btn1:hover, .btn2:hover, .btn3:hover {
    background-color: black; /* Hover effect */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    footer {
        flex-direction: column; /* Stack footer items on smaller screens */
        align-items: center; /* Center align */
    }
    nav ul li {
        margin: 0 15px; /* Reduce margin for smaller screens */
    }
}
