header{
    background-color: grey;
    font-size: larger;
}

footer{
    background-color: darkgrey;
}

.enlarge{
    transition:all .2s ease-in-out;
}

.row {
    flex: 1;
    flex-wrap: wrap;
    flex-basis: auto;
    padding:10px;
}
  
.column {
    flex: 1;
    flex-wrap: wrap;
    flex-basis: auto;
    padding:10px;
}

.headerButton{
    text-align: center;
    padding: 2%;
}